/* 赤いマーク */
.mark-red {
  background-color: #ffcccc;
  padding: 2px 4px;
  border-radius: 3px;
}


/* 赤いマーク */
.mark-yellow {
  background-color: #ffc107;
  color: black;
  padding: 2px 4px;
  border-radius: 4px;
}


/* 青いマーク */
.mark-blue {
  background-color: #cce5ff;
  padding: 2px 4px;
  border-radius: 3px;
}


/* 水色マーク */
.mark-cyan {
  background-color: #0dcaf0;
  padding: 2px 4px;
  border-radius: 3px;
}


/* 緑のマーク */
.mark-green {
  background-color: #d4edda;
  padding: 2px 4px;
  border-radius: 3px;
}


/* Figure設定 */
img, figure {
  max-width: 100%;
  width: 100%;
  height: auto;
}


code span.co {
  color: #0dcaf0 !important;  /* コメント色 */
  font-style: italic;
}


code span.kw {
  color: #ff79c6 !important;  /* キーワード色*/
}


pre > code {
  background-color: #1e1e1e; /* コードチャンクの背景色 */
  color: #abb2bf; /* コードチャンク内の文字色 */
  padding: 1em;
  border-radius: 4px;
}

