/* オレンジマーク */
.mark-red {
  background-color: #f39c12;
  padding: 2px 4px;
  border-radius: 3px;
}


/* パープルマーク */
.mark-yellow {
  background-color: #bd93f9;
  padding: 2px 4px;
  border-radius: 4px;
}

/* 水色マーク */
.mark-cyan {
  background-color: #66d9ef;
  padding: 2px 4px;
  border-radius: 3px;
}


/* 緑のマーク */
.mark-green {
  background-color: #a2fca2;
  padding: 2px 4px;
  border-radius: 3px;
}


/* Figure設定 */
img, figure {
  max-width: 100%;
  width: 100%;
  height: auto;
}


code span.co {
  color: #0dcaf0 !important;  /* コメント色 */
  font-style: italic;
}


code span.kw {
  color: #ff79c6 !important;  /* キーワード色*/
}



